<div class="container" id="form-container">
</div>
<script type="x-template" id="appList">
  <div class="blog-header">
    <h1 class="blog-title">Slack Tools</h1>
    <p class="lead blog-description">Slack Collaboration Tools</p>
  </div>
  <div class="row">
    <div class="col-sm-8 blog-main" id="app-list">
      <div class="blog-post" v-repeat="items">
        <h2 class="blog-post-title">{{formTitle}}</h2>
        <p>{{formDescription}}</p>
        <a type="button" href="/admin/form/#/{{modelName}}/list" class="btn btn-default btn-lg btn-block">
            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
            go setting
        </a>
      </div>
    </div>
  </div>
</script>
<script type="x-template" id="formTemplate">
  <div class="blog-header">
    <h1 class="blog-title">{{formTitle}}</h1>
  </div>
  <div class="row">
    <div class="col-sm-8 blog-main">
      <form class="form" role="form">
        <div class="form-group" v-repeat="items">
          <label for="f_{{fieldName}}">{{fieldTitle}}</label>
          <div v-if="fieldType == 'inputtext'">
            <input type="text" class="form-control" name="{{fieldName}}" id="f_{{fieldName}}" v-model="fieldValue">
          </div>
          <div v-if="fieldType == 'textarea'">
            <textarea name="{{fieldName}}" id="f_{{fieldName}}" v-model="fieldValue"></textarea>
          </div>
          <div v-if="fieldType == 'select'">
            <select v-model="fieldValue" options="options"></select>
          </div>
        </div>
        <button type="button" class="btn btn-primary btn-lg" v-on="click: submitUpdate" id="form-submit-button">Submit</button>
        <button type="button" class="btn btn-default btn-lg" v-on="click: cancel">Cancel</button>
      </form>
    </div>
  </div>

</script>
<script type="x-template" id="listTemplate">
  <div class="blog-header">
    <h1 class="blog-title">{{formTitle}}</h1>
    <p class="lead blog-description">{{formDescription}}</p>
  </div>
  <div v-if="modelName == 'blobstoreimage'">
      <h3>drop image files</h3>
      <div id="imagetarget" v-on="drop: uploadImage" draggable="true" style="width:320px;border:3px dotted;text-align:center;padding:60px 0;margin-bottom:30px;">
      </div>
  </div>
  <div class="row">
    <div class="col-sm-8 blog-main">
      <p>
        <a href="/admin/form/#/{{modelName}}/update" class="btn btn-primary" id="createEntity">Create new entity</a>
      </p>
      <table id="content-list-table" class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Title</th>
            <th></th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr v-repeat="items">
            <td>{{title}}</td>
            <td>{{updated_at | dateFormat}}</td>
            <td><a class="btn btn-default btn-sm" href="#/{{modelName}}/update/{{key_name}}">update</a>
            </td>
            <td>
              <button class="btn btn-danger btn-sm" v-on="click: deleteEntity">delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</script>
<script src="/media/js/vue.superagent.min.js"></script>
<script src="/media/js/moment.min.js"></script>
<script src="/media/js/dropzone.min.js"></script>
<script src="/media/js/app.js"></script>
