<div class="container">
  <div class="blog-header">
    <h1 class="blog-title">Slack Tools</h1>
    <p class="lead blog-description">Slack Collaboration Tools</p>
  </div>
  <div class="row">
    <div class="col-sm-8 blog-main">
      <div class="blog-post">
        <h2 class="blog-post-title">AppStore review notification</h2>
        <p>Would you like to know user reviews as soon as possible?</p>
        <a type="button" href="/admin/form/#/iosapp/list" class="btn btn-default btn-lg btn-block">
          <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
          go setting
        </a>
      </div>
    </div>
  </div>
</div>
